<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Hospital Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="shadow-none bg-light rounded">
<nav class="navbar navbar-expand-lg navbar-light shadow-sm mb-1 bg-white">
  <div class="container-fluid">
    <img src="https://t4.ftcdn.net/jpg/05/75/22/77/360_F_575227735_ZjAc0cnqvCwzsfmsuEuKUW847J0JIGXU.jpg" width="50px"/>
    <a class="navbar-brand text-dark" href="/">Hospital Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/list_doctor">DOCTOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/list_patient">PATIENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/list_appointment">APPOINTMENT</a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://www.transparentpng.com/thumb/user/gray-user-profile-icon-png-fP8Q1P.png" alt="gray user profile icon png @transparentpng.com" width="20px"> [[${username}]] <span class="px-3">|</span> <a class="nav-link nav-item" href="logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="mx-auto p-5">
  <h1 class="p-4">About Developer</h1>
  <div class="ml-5 mb-5">
    <p class="p-4">
      The developer of the Hospital Management System is a software company that specializes
      in creating solutions for the healthcare industry.<br> The company has extensive experience
      and expertise in developing and implementing hospital management software that streamlines
      and simplifies the workflows of various departments and processes in a hospital.
      The company's mission is to provide high-quality,<br> secure, and user-friendly software that
      enhances the efficiency, productivity, and patient satisfaction of the hospital.
      The company's vision is to become a leading provider of innovative and cutting-edge
      hospital management software that meets the evolving needs and challenges<br> of the healthcare
      sector.
    </p>
  </div>
</div>
</body>
</html>